[Unit]
Description=HelloWorldPythonService
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/poultramp/app
User=poultramp
Group=poultramp
ExecStart=/usr/bin/python3 /home/poultramp/app/hello_world.py > hello.log

[Install]
WantedBy=multi-user.target
